<h1>チケット新規作成</h1>

<%= form_with model: @ticket, url: tickets_path, local: true do |f| %>
  <!-- チケット名 -->
  <div class="form-group">
    <%= f.label :name, "チケット名", class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "例: 肩たたき券", required: true %>
  </div>

  <!-- 説明 -->
  <div class="form-group">
    <%= f.label :description, "説明 (任意)", class: "form-label" %>
    <%= f.text_area :description, class: "form-control", placeholder: "詳細を入力してください" %>
  </div>

  <!-- 有効期限 -->
  <div class="form-group">
    <%= f.label :expiration_date, "有効期限 (任意)", class: "form-label" %>
    <%= f.date_field :expiration_date, class: "form-control" %>
    <small class="form-text text-muted">指定しない場合は有効期限なしになります</small>
  </div>

  <!-- 枚数 -->
  <div class="form-group">
    <%= f.label :quantity, "枚数", class: "form-label" %>
    <%= f.number_field :quantity, value: 1, min: 1, class: "form-control", required: true %>
  </div>
  
  <!-- プライベートチケットにするかどうか -->
  <div class="form-group">
    <p>このチケットの公開設定</p>
    
    <div class="btn-group" role="group" data-toggle="buttons">
      <!-- 非公開 -->
      <label class="btn btn-outline-warning active">
        <%= f.radio_button :private, true, {class:"d-none btn-check", checked: true} %>非公開
      </label>
      <!--公開-->
      <label class="btn btn-outline-success">
        <%= f.radio_button :private, false, {class:"d-none btn-check"} %>公開
      </label>
    </div>
  </div>

  <!-- 誰かに渡す意思があるかどうか -->
  <div class="form-group">
    <p>作成したチケットを渡す人を選ぶ（次画面）</p>
    <div class="btn-group" role="group" data-toggle="buttons">
      <!-- 渡す意思あり -->
      <label class="btn btn-outline-primary active">
        <%= f.radio_button :transfer, true, {class:"d-none btn-check", checked: true} %>YES（誰かに渡す）
      </label>
      <!--まだ渡さない-->
      <label class="btn btn-outline-secondary">
        <%= f.radio_button :transfer, false, {class:"d-none btn-check"} %>NO（後から決める）
      </label>
    </div>

  </div>

  <!-- 提出ボタン -->
  <div class="form-group">
    <%= f.submit "チケットを作成", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "戻る", tickets_path, class: "btn btn-secondary" %>
