<h1>通知一覧</h1>
<ul>
  <% @notifications.each do |notification| %>
    <li class="<%= 'unread' if notification.read_at.nil? %>">
      <%= link_to notification_path(notification) do %>
        <%= notification.message %>
      <% end %>
      <p>
        <%= notification.read_at.nil? ? "未読" : "既読: #{notification.read_at.strftime('%Y-%m-%d %H:%M:%S')}" %>
      </p>
      <%= link_to '削除', notification_path(notification), method: :delete, data: { confirm: '削除しますか？' } %>
    </li>
  <% end %>
</ul>
<%= paginate @notifications %>
