<h2><%= @user.name %>さんのプロフィール</h2>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="user-profile">
    <!-- ユーザー名 -->
    <h1><%= @user.name %></h1>
  
    <!-- ユーザー画像 -->
    <div class="profile-image">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "150x150", alt: @user.name %>
      <% else %>
        <%= image_tag "no-image.jpeg", alt: "デフォルトのプロフィール画像", size: "150x150" %>
      <% end %>
    </div>
  
    <!-- ユーザー自己紹介 -->
    <p><%= @user.introduction.presence || "自己紹介はまだありません。" %></p>
  
    <!-- フォロー数（リンク付き） -->
    <div class="user-follow">
      <p>
        <%= link_to "#{@user.followings.count} フォロー", followings_user_path(@user), class: "btn btn-link" %>
        <%= link_to "#{@user.followers.count} フォロワー", followers_user_path(@user), class: "btn btn-link" %>
      </p>
    </div>
   </div>
   
   <!-- ユーザーのいいねした投稿一覧 -->
   <div class="user-likes-posts">
     <%= link_to user_post_likes_path(@user) do %>
       <p><%= @user.name %>さんがいいねした投稿</p>
     <% end %>
   </div>
   
   <!-- ユーザーのいいねしたチケット一覧 -->
   <div class="user-likes-tickets">
     <%= link_to user_ticket_likes_path(@user) do %>
       <p><%= @user.name %>さんがいいねしたチケット</p>
     <% end %>
   </div>
   
   <!-- ユーザー投稿 -->
   <div class="user-posts">
     <h2>投稿一覧</h2>
      <% if @posts.present? %>
          <% @posts.each do |post| %>
            <p><%= post.text_content %></p>
    
            <!-- 投稿に画像がある場合はすべて表示 -->
            <% if post.images.attached? %>
              <div class="post-images">
                <% post.images.each do |image| %>
                  <%= image_tag image, size: "150x150", class: "post-image" %>
                <% end %>
              </div>
            <% end %>
      
            <!-- 投稿にチケットがある場合はチケット情報を表示 -->
            <% if post.ticket_id.present? %>
              <div class="post-ticket">
                <h3>チケット情報</h3>
                <p><strong>名前:</strong> <%= post.ticket.name %></p>
                <p><strong>説明:</strong> <%= post.ticket.description %></p>
                <p><strong>有効期限:</strong> <%= post.ticket.expiration_date %></p>
                <p><strong>枚数:</strong> <%= post.ticket.quantity %></p>
              </div>
            <% end %>
          <% end %>
        
      <% else %>
        <p>まだ投稿がありません。</p>
      <% end %>
   </div>
  
  
  </div>
</div>
